<!DOCTYPE html>
<html>
  <head>
    <title>DesafioProgramacao1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'DesafioProgramacao1', root_path, class: "navbar-brand" %>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">DesafioProgramacao1</p>
      </div>
    </footer>

  </body>
</html>
